header {
  font-size: 1.1em;
}

nav ul {
  overflow: visible;
  display: none;
  list-style: none;
  vertical-align: middle;
  padding: 1em;
}

nav:hover ul {
  display: block;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  right: 3%;
}

nav li {
  display: block;
  text-align: left;
}

nav li a {
  font-size: 0.5em;
  color: slategray;
}

article {
  font-size: 0.8em;
}

section {
  font-size: 1em;
}

.visible {
  display: none;
}

@media only screen and (min-width: 400px) {
  header {
    font-size: 1.7em;
  }

  nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0.2em;
  }

  article {
    font-size: 1.2em;
  }
  nav ul {
    display: block;
    padding: none;
  }

  section {
    font-size: 1.2em;
  }

  nav li {
    display: inline-block;
  }

  nav:hover ul {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
