.read-on {
  font-size: 0.6em;
  display: inline-block;
  background: #146496;
  border-radius: 0.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #D1DAF0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: center;
  line-height: 1.5em;
}
